---
const stats = [
  {
    name: 'Years',
    value: '6',
  },
  // {
  //   name: 'Experts',
  //   value: '15',
  // },
  {
    name: 'Projects',
    value: '122',
  },
  // {
  //   name: 'Awards',
  //   value: "'9'",
  // },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Innova specializes in developing custom software solutions, guiding your project from
              the initial Discovery phase through to Product Concept and all the way to Build. We
              ensure a smooth process with precise communication, quick execution, and a deep
              understanding of both technical requirements and business needs. Our approach
              guarantees that your project is built efficiently and aligns perfectly with your
              goals.
            </p>
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Our team combines technical proficiency with business acumen to deliver solutions that
              are not only effective but also strategically impactful. By understanding the unique
              challenges of each client, we ensure that every software solution is tailored to meet
              specific business objectives. Our process is designed to be agile, allowing for rapid
              development without compromising on quality.
            </p>
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Innova also leverages the power of Artificial Intelligence to drive innovation and
              enhance productivity. We use a proprietary framework to create AI-powered solutions
              that optimize business processes and foster growth. Whether you’re looking to
              streamline operations or enhance decision-making capabilities, our AI solutions are
              built to maximize your company’s efficiency and success.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
