---
const stats = [
  {
    name: 'Years',
    value: '6',
  },
  // {
  //   name: 'Experts',
  //   value: '15',
  // },
  {
    name: 'Projects',
    value: '122',
  },
  // {
  //   name: 'Awards',
  //   value: "'9'",
  // },
];

const statsBR = [
  {
    name: 'Anos',
    value: '6',
  },
  // {
  //   name: 'Experts',
  //   value: '15',
  // },
  {
    name: 'Projetos',
    value: '122',
  },
  // {
  //   name: 'Awards',
  //   value: "'9'",
  // },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12" x-show="$store.language.current === 'en'">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Innova specializes in developing custom software solutions, guiding your project from
              the initial Discovery phase through to Product Concept and all the way to Build. We
              ensure a smooth process with precise communication, quick execution, and a deep
              understanding of both technical requirements and business needs. Our approach
              guarantees that your project is built efficiently and aligns perfectly with your
              goals.
            </p>
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Our team combines technical proficiency with business acumen to deliver solutions that
              are not only effective but also strategically impactful. By understanding the unique
              challenges of each client, we ensure that every software solution is tailored to meet
              specific business objectives. Our process is designed to be agile, allowing for rapid
              development without compromising on quality.
            </p>
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Innova also leverages the power of Artificial Intelligence to drive innovation and
              enhance productivity. We use a proprietary framework to create AI-powered solutions
              that optimize business processes and foster growth. Whether you’re looking to
              streamline operations or enhance decision-making capabilities, our AI solutions are
              built to maximize your company’s efficiency and success.
            </p>
          </div>
        </div>

        <div class="space-y-8 sm:space-y-12" x-show="$store.language.current === 'pt'">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nossa missão</h2>
          <div class="space-y-6">
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Innova especializa-se em desenvolver soluções de software personalizadas, orientando
              seu projeto desde a fase de Discovery até a Product Concept e até a Build. Garantimos
              um processo suave com comunicação precisa, execução rápida e uma compreensão profunda
              tanto de requisitos tecnológicos quanto de necessidades comerciais. Nossa abordagem
              garante que seu projeto seja construído de forma eficiente e alinhado perfeitamente
              com seus objetivos.
            </p>
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Nossa equipe combina proficiência técnica com acústica empresarial para entregar
              soluções que não apenas são eficazes, mas também estratégicamente impactantes. Ao
              entender as desafios exclusivos de cada cliente, garantimos que cada solução de
              software seja adaptada para atender aos objetivos específicos da empresa. Nossa
              processo foi projetado para ser ágil, permitindo desenvolvimento rápido sem
              comprometer a qualidade.
            </p>
            <p class="sm:text-md text-base text-primary-950/70 dark:text-primary-200/70">
              Innova também aproveita o poder da Inteligência Artificial para impulsionar a inovação
              e aumentar a produtividade. Usamos um framework próprio para criar soluções
              inteligentes que otimizem processos comerciais e promovam crescimento. Se você estiver
              procurando simplificar operações ou aprimorar capacidades de tomada de decisão, nossas
              soluções inteligentes são projetadas para maximizar sua eficiência empresarial e
              alcançar sucesso.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2" x-show="$store.language.current === 'en'">
          {
            stats.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2" x-show="$store.language.current === 'pt'">
          {
            statsBR.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
